{% extends 'tienda/base.html' %}

{% block content %}
    <h2>Checkout</h2>

    <table class="table table-striped">

        <thread>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Unidades</th>
            <th>Precio</th>
            <th>Detalles</th>
        </thread>

        <tbody>
        <tr>
            <td>{{ productos.nombre }}</td>
            <td>{{ productos.marca }}</td>
            <td>{{ productos.modelo }}</td>
            <td>{{ productos.unidades }}</td>
            <td>{{ productos.precio }}</td>
            <td>{{ productos.detalles }}</td>
        </tr>
        </tbody>
    </table>

    <form method="post">

        <fieldset>

            {% csrf_token %}
            {{ compra_form.as_div }}

            <br>

            <button type="submit" class="btn btn-primary">Confirmar</button>

            <a href="{% url 'compra' %}">
                <button type="button" class="btn btn-secondary">Volver</button>
            </a>

            <br><br>

            {% if errorInsuficientesUnidades %}
                <div class="alert alert-danger">{{ errorInsuficientesUnidades }} <b>{{ productos.nombre }}</b>.</div>
            {% endif %}

            {% if errorCeroUnidades %}
                <div class="alert alert-danger">{{ errorCeroUnidades }}</div>
            {% endif %}

        </fieldset>

    </form>

{% endblock %}