{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Checkout</h2>
    <table class="table table-striped">
        <thread>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Unidades</th>
            <th>Precio</th>
            <th>Detalles</th>
        </thread>
        <tbody>
        <tr>
            <td>{{ productos.nombre }}</td>
            <td>{{ productos.marca }}</td>
            <td>{{ productos.modelo }}</td>
            <td>{{ productos.unidades }}</td>
            <td>{{ productos.precio }}€</td>
            <td>{{ productos.detalles }}</td>
        </tr>
        </tbody>
    </table>

    <form method="post">
        {% csrf_token %}
        {{ form.unidades }}

        <p>¿Comprar {{ compra.unidades }} unidades de <b>{{ productos.nombre }}</b> por {{ compra.importe }}€ ?</p>

        <a href="{% url 'compra' %}">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </a>
        <a href="{% url 'compra' %}">
            <button type="button" class="btn btn-secondary">Cancelar</button>
        </a>

    </form>

{% endblock %}