{% extends 'tienda/base.html' %}

{% block content %}
    <h2>Compra</h2>

    <table class="table table-striped">
        <thread>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Unidades</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th></th>

            {% for producto in productos %}

                </thread>

                <tbody>
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.modelo }}</td>
                    <td>{{ producto.unidades }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.detalles }}</td>
                    <td>
                        <a href="{% url 'checkout' producto.pk %}">
                            <button type="submit" class="btn btn-primary">Comprar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

{% endblock %}