{% extends 'tienda/base.html' %}

{% block content %}

    <h2>Informes</h2>
    <ul>
        <li><a href="/tienda/informes/productosMarca">Productos por marca</a></li>
        <li><a href="/tienda/informes/productosVendidos">Top ten productos vendidos</a></li>
        <li><a href="/tienda/informes/comprasUsuario">Compras del usuario</a></li>
        <li><a href="/tienda/informes/mejoresClientes">Top ten mejores clientes</a></li>
    </ul>

    <a href="{% url 'welcome' %}">
        <input type="button" class="btn btn-secondary" value="Atrás">
    </a>

{% endblock %}