{% extends 'tienda/base.html' %}

{% block content %}
    <h2>Edición</h2>

    <form method="post">

        <fieldset>

            <legend>Formulario producto</legend>

            {% csrf_token %}
            {{ producto_form.as_div }}

            <br>

            <a href="{% url 'listado' %}">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </a>

            <a href="{% url 'listado' %}">
                <button type="button" class="btn btn-secondary">Volver</button>
            </a>

            {% if producto_form.instance.pk %}
                <a href="{% url 'eliminar' pk=producto_form.instance.pk %}">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
            {% endif %}

        </fieldset>

    </form>

{% endblock %}