{% extends 'tienda/base.html' %}

{% block content %}

	<h2>Listado productos</h2>
    <p>
        <a href="{% url 'nuevo' %}">
            <button type="button" class="btn btn-success">Nuevo</button>
        </a>
    </p>
    <table class="table table-striped">
        <thread>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Unidades</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th></th>
        </thread>

        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>
                        <a href="{% url 'detalles' pk=producto.pk %}">
                            {{producto.nombre}}
                        </a>
                    </td>
                    <td>{{producto.modelo}}</td>
                    <td>{{producto.unidades}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.detalles}}</td>
                    <td>
                        <a href="{% url 'eliminar' pk=producto.pk %}">
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
